.table{
	display: table
}
.primary{
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;

	padding: 6px 12px;
	font-size: 12px;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	}